:root {
    --primary-cl: rgb(12, 12, 12);
    --card-border-redius: 7px;
    --card-title-cl: orange;
    --card-category-cl: seagreen;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem;
}

/* mobile view */
.card-containe {
    width: auto;
    display: grid;
    margin: 35px;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
.card {
    box-shadow: 0 2px 4px #333;
    border-radius: var(--card-border-redius);
    transition: all 0.2s ease-out;
}
/* card hover */
.card:hover {
    box-shadow: 3px 6px 30px #333;
    transform: translateY(-5px);
}